body {
    font-family: 'Roboto', sans-serif;
    background-color: blue;
}
p{
    font-weight: 150;
    color:white;
}
h1{
    font-weight: 400;
    color: white

}


.flex-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100px;
    margin-left: 1200px;
    margin-right: 1200px;
    align-items: center;
    text-align: center;

  }


img {
    height: 200px;
    margin-left: 10px;
   
  }