*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    font-family: 'Open Sans', sans-serif;
    }

    ul {
        display: flex;
        justify-content:space-around;
        background: purple;
        margin:10;
        line-height:80px;
        
      }    
nav{
     height: 60px;
    }
.container{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background: black;
    line-height: 60px;

}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}






@keyframes colors{
    0%{
        background-color: tomato;
    }
    40%{
        background-color: tomato;
    
    } 
    60%{
        background-color: red;
    
    }

    100%{
        background-color: tomato;
    
    }

}



.square {
    width: 200px;
    height:200px;
    background:tomato;

  }
   
  .button{
    width:200px;
    height:80px;
    background-color:tomato;
    text-align:center;
    line-height:80px;
    color: white;
  background-color: rgb(28, 40, 126);
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  transition-delay: 0.2s;
  
  }
    
  
  .button:hover{
  background-color: pink;
  }