body{
    overflow: hidden;

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  }


    
.logo{
    position: absolute;
    display: block; 
    width: 200px; 
    height: auto; 
    
    animation: rotate 1s linear infinite; 
 
  
  }

      
.text{

  position:static;
 
  width: 205px; 
  align-items: center;



}
  
  
  


  
  @keyframes rotate {
    from {
      transform: rotate(0deg); 
    }
    to {
      transform: rotate(360deg); 
    }
  }


  .logo:hover {
    animation-play-state: paused; 
    filter: grayscale(100%);
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


