* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin:0px;
  padding:0px;
  min-height: 100vh;
  overflow: hidden;
}

header {
  padding: 40px 10px 40px 100px;
  
  color: white;
  background-color: #000000;
  }
  main {
    padding: 10px;
    border: 0px solid #000000;
    color: #141414;
    }
  
    h1 {
      text-transform: capitalize;
      font-size: 2em;
      text-align:left;
      color:white;
      
    }

.flex-container{
  display: flex;
  flex-direction: column;
  height: 50%;
}
.column-wrapper {
  display: flex;
  padding: 0 0 0 0;
 
}

  .left-column, .right-column {
    width: 50%;
    flex-direction: row;
    display:flex;
  }

   


.container {
  display: block;
  position: relative;
  border: solid 3px #ccc;
  padding: 40px 60px;
  max-width: 400px;
  margin: 100px auto 0;
}    

/*
#nav {
position: absolute;
top: 200px;
left: 20px;
}
*/

#nav a {

display: block;
line-height: 120px;
width: 110px;
transform: rotate(-90deg);
transition: .3s;
font-weight: bold;
color: var(--text-color);
text-align:justify;
text-size-adjust: auto ;

}

#nav a:hover {
transform:initial;
color: #DBB825;
}





section{
  width: auto;
  padding: 0 0 5px 0;
  height: max-content;
  position: absolute;
  top: 400px;
  

}


    .scroller__wrapper{
      /* How long one slide is visible on screen (from entering screen to leaving it) */
      --scrolling-gallery-item-duration: 5s;
      /* How many items we want to see on screen at once */
      --scrolling-gallery-items-visible: 11;
      /* How many items are to scroll */
      --scrolling-gallery-items-total: 10;
      margin-top: 1.2em;
      overflow: hidden;
      will-change: transform;
      margin:0px;
      padding:3px;
      height: max-content;
     
    }

    
    
    .scroller {
      animation-duration: calc(var(--scrolling-gallery-item-duration, 1s) / var(--scrolling-gallery-items-visible) * var(--scrolling-gallery-items-total));
      animation-timing-function: linear;
      animation-name: scrolling-gallery;
      animation-iteration-count: infinite;
      display: flex;
      white-space: nowrap;
    }
    

    .scroller__container {
      /* Without this, scroll will jump on desktop if any vertical scrollbar is shown */
      width: 100vw;
    }
    
    .scroller__item {
      flex: 1 0 calc(100% / var(--scrolling-gallery-items-visible));
      /* Without this, block elements will take width from their contents and thus making wrong calculations,
         so this just force elements to take only exact part of the container (screen) and equal for all */
      width: 0px;
      /* If you want to have it continuous without any spaces, remove two lines below */
      box-sizing: border-box;
      padding: 0.1em;
    }
    
    .scroller img {
      display: block;
      height: auto;
      object-fit:contain;
      object-position: center;
      width: 100%;
    }
    
    @keyframes scrolling-gallery {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(var(--scrolling-gallery-items-total) * -100vw / var(--scrolling-gallery-items-visible)));
      }
    }
    
    .scroller:hover,
    .scroller:focus {
      animation-play-state: paused;
      

    }
    
    
    /* Styles only for switching */
    
    input[type=radio] {
      display: none;
    }
    
    label {
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      flex-flow: column;
      justify-content: center;
      margin-right: 0.5em;
      margin-top: 1em;
      margin-bottom: 2em;
      min-width: 4em;
      padding: 0.7em;
      background-color:  #DBB825;
      color: white;
      border-radius: 24px;
      font-size: 1em;

    }

    label:hover{
      background-color:black;
      color: white;
   
      }

    
    
    input#items-1:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 1;
    }
    
    input#items-2:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 2;
    }
    
    input#items-3:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 3;
    }
    
    input#items-4:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 4;
    }
    
    input#items-5:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 5;
    }
    
    input#items-6:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 6;
    }
    
    input#items-7:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 7;
    }
    
    input#dur-1s:checked~.scroller__wrapper {
      --scrolling-gallery-item-duration: 1s;
    }
    
    input#dur-2s:checked~.scroller__wrapper {
      --scrolling-gallery-item-duration: 2s;
    }
    
    input#dur-3s:checked~.scroller__wrapper {
      --scrolling-gallery-item-duration: 3s;
    }
    
    input#dur-5s:checked~.scroller__wrapper {
      --scrolling-gallery-item-duration: 5s;
    }
    
    input#dur-10s:checked~.scroller__wrapper {
      --scrolling-gallery-item-duration: 10s;
    }  



    .scroller2__wrapper{
      /* How long one slide is visible on screen (from entering screen to leaving it) */
      --scrolling-gallery-item-duration: 7s;
      /* How many items we want to see on screen at once */
      --scrolling-gallery-items-visible: 8;
      /* How many items are to scroll */
      --scrolling-gallery-items-total: 6;
      margin-top: 1.2em;
      overflow: hidden;
      will-change: transform;
    }

    
    
    .scroller2 {
      animation-duration: calc(var(--scrolling-gallery-item-duration, 1s) / var(--scrolling-gallery-items-visible) * var(--scrolling-gallery-items-total));
      animation-timing-function: linear;
      animation-name: scrolling-gallery;
      animation-iteration-count: infinite;
      animation-direction: reverse;
      display: flex;
      white-space: nowrap;
    }
    

    .scroller2__container {
      /* Without this, scroll will jump on desktop if any vertical scrollbar is shown */
      width: 100vw;
    }
    
    .scroller2__item {
      flex: 1 0 calc(100% / var(--scrolling-gallery-items-visible));
      /* Without this, block elements will take width from their contents and thus making wrong calculations,
         so this just force elements to take only exact part of the container (screen) and equal for all */
      width: 0px;
      /* If you want to have it continuous without any spaces, remove two lines below */
      box-sizing: border-box;
      padding: 0.1em;
    }
    
    .scroller2 img {
      display: block;
      height: 200px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
    
    @keyframes scrolling-gallery {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(var(--scrolling-gallery-items-total) * -100vw / var(--scrolling-gallery-items-visible)));
      }
    }
    
    .scroller2:hover,
    .scroller2:focus {
      animation-play-state: paused;

    }
    
    
    /* Styles only for switching */
    
    input[type=radio] {
      display: none;
    }
    
    
    
    input#items-1:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 1;
    }
    
    input#items-2:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 2;
    }
    
    input#items-3:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 3;
    }
    
    input#items-4:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 4;
    }
    
    input#items-5:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 5;
    }
    
    input#items-6:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 6;
    }
    
    input#items-7:checked~.scroller__wrapper {
      --scrolling-gallery-items-visible: 7;
    }
    
    input#dur-1s:checked~.scroller__wrapper {
      --scrolling-gallery-item-duration: 1s;
    }
    
    input#dur-2s:checked~.scroller__wrapper {
      --scrolling-gallery-item-duration: 2s;
    }
    
    input#dur-3s:checked~.scroller__wrapper {
      --scrolling-gallery-item-duration: 3s;
    }
    
    input#dur-5s:checked~.scroller__wrapper {
      --scrolling-gallery-item-duration: 5s;
    }
    
    input#dur-10s:checked~.scroller__wrapper {
      --scrolling-gallery-item-duration: 10s;
    }  

